################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TrackingWithAruco
/x64/Release

/TrackingWithAruco/codes
*.mp4